@model p2g21.Models.Domain.Voorstel
@{
    ViewBag.Title = "Voorstel";
    Layout = "~/Views/Shared/_LayoutApps.cshtml";
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
}

<h3>Voorstel</h3>

<table class="table">
    <tr>
        <td>
            @Html.DisplayName("Titel voorstel")
        </td>
        <td>
            @Html.DisplayFor(item => item.VoorstelTitel)
        </td>
    </tr>
    <tr>
        <td>@Html.DisplayName("Onderzoeksdomein 1")</td>
        <td>@Html.DisplayFor(item => item.Od1.Naam)</td>
    </tr>
    <tr>
        <td>@Html.DisplayName("Onderzoeksdomein 2")</td>
        <td>@Html.DisplayFor(item => item.Od2.Naam)</td>
    </tr>
    <tr>
        <td>@Html.DisplayName("Trefwoorden")</td>
        <td>@Html.DisplayFor(item => item.VrijeTrefwoorden)</td>
    </tr>
    <tr>
        <td>@Html.DisplayName("Probleemstelling")</td>
        <td>@Html.DisplayFor(item => item.ProbleemStelling)</td>
    </tr>
    <tr>
        <td>@Html.DisplayName("Context")</td>
        <td>@Html.DisplayFor(item => item.Context)</td>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Doelstelling)
        </td>
        <td>
            @Html.DisplayFor(item => item.Doelstelling)
        </td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Onderzoeksvraag)</td>
        <td>@Html.DisplayFor(item => item.Onderzoeksvraag)</td>
    </tr>
    <tr>
        <td>
            @Html.DisplayName("Plan van aanpak")
        </td>
        <td>
            @Html.DisplayFor(item => item.PlanVanAanpak)
        </td>
    </tr>
    <tr>
        <td>@Html.DisplayName("Referenties")</td>
        <td>@Html.DisplayFor(item => item.ReferentieLijst)</td>
    </tr>
</table><br />
<table class="table">
    <tr>
        <td>@Html.DisplayName("Tijdstip van indienen")</td>
        <td>@Html.DisplayFor(item => item.TijdstipIndienen)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(model => model.Toestand)</td>
        <td>@Html.DisplayFor(item => item.Toestand)</td>
    </tr>
</table><br />

@Html.ActionLink("Terug", "OverzichtDossiers")